@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.head{
    position: fixed;
    width: 100%;
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.navbar .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.navbar ul li a{
    color: black;
    font-size: 1.2rem;
    padding-bottom: .5rem;
}
.navbar ul li a:hover{
    border-bottom: 1px solid black;
}
.home-page{
    background: url(./home-page1.png);
    height: 90vh;
    background-position: center;
    background-size: cover;
    
}
.home-page1{
    background: url(./home-page2.png);
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.home-page2{
    background: url(./home-page3.png);
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.carousel{
    display: none;
}
.carousel.active{
    display: block;
}

.home h1{
    position: absolute;
    top: 50%;
    color: white;
    background-color: grey;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
   
}
.home .next{
    right: 1%;
}
.home .back{
    left: 1%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.test{
    width: 15rem;
    height: 15rem;
    background-color: green;
}
.menu img{
    width: 50px;
}
.menu{
    display: none;
}

@media only screen and (max-width : 1200px) {

    .center{
        flex-direction: column;
    }
    
}
@media only screen and (max-width:800px){
    .menu{
        display: block;
    }
    .navbar ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: red;
        padding: 1rem;
        left: -500%;
        top: 100%;
        transition: .5s ease-in-out;
    }
    .navbar .show{
        left: 0;
    }
}
